In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler as sc

c:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
db_b=pd.read_csv('benign.csv')
db_m=pd.read_csv('malicious.csv')

In [3]:
db_b.columns

Index(['SourceIP', 'DestinationIP', 'SourcePort', 'DestinationPort',
       'TimeStamp', 'Duration', 'FlowBytesSent', 'FlowSentRate',
       'FlowBytesReceived', 'FlowReceivedRate', 'PacketLengthVariance',
       'PacketLengthStandardDeviation', 'PacketLengthMean',
       'PacketLengthMedian', 'PacketLengthMode', 'PacketLengthSkewFromMedian',
       'PacketLengthSkewFromMode', 'PacketLengthCoefficientofVariation',
       'PacketTimeVariance', 'PacketTimeStandardDeviation', 'PacketTimeMean',
       'PacketTimeMedian', 'PacketTimeMode', 'PacketTimeSkewFromMedian',
       'PacketTimeSkewFromMode', 'PacketTimeCoefficientofVariation',
       'ResponseTimeTimeVariance', 'ResponseTimeTimeStandardDeviation',
       'ResponseTimeTimeMean', 'ResponseTimeTimeMedian',
       'ResponseTimeTimeMode', 'ResponseTimeTimeSkewFromMedian',
       'ResponseTimeTimeSkewFromMode',
       'ResponseTimeTimeCoefficientofVariation', 'Label'],
      dtype='object')

In [4]:
db=db_b.append(db_m, ignore_index=True)

C:\Users\lmaha\AppData\Local\Temp\ipykernel_15652\4243049833.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  db=db_b.append(db_m, ignore_index=True)

In [5]:
db.fillna('', inplace=True)

In [6]:
db=db.sample(frac=1)

In [7]:
db.head()

,SourceIP,DestinationIP,SourcePort,DestinationPort,TimeStamp,Duration,FlowBytesSent,FlowSentRate,FlowBytesReceived,FlowReceivedRate,...,PacketTimeCoefficientofVariation,ResponseTimeTimeVariance,ResponseTimeTimeStandardDeviation,ResponseTimeTimeMean,ResponseTimeTimeMedian,ResponseTimeTimeMode,ResponseTimeTimeSkewFromMedian,ResponseTimeTimeSkewFromMode,ResponseTimeTimeCoefficientofVariation,Label
136084,192.168.20.206,176.103.130.130,55872,443,2020-04-01 07:44:24,122.834600,31112,253.283684,44775,364.514559,...,0.479339,0.325683,0.570686,0.267983,0.026509,0.000011,1.269388,0.469560,2.129565,Malicious
68199,192.168.20.204,9.9.9.11,47116,443,2020-03-31 08:43:16,3.582399,1578,440.486947,4617,1288.801164,...,2.885744,0.000053,0.007274,0.010300,0.015338,0.000005,-2.077859,1.415278,0.706232,Malicious
130363,192.168.20.144,9.9.9.11,42224,443,2020-03-31 16:51:09,0.629387,1153,1831.941238,4169,6623.905483,...,0.902772,0.000157,0.012510,0.010304,0.000117,0.000003,2.442958,0.823432,1.214076,Malicious
162427,192.168.20.212,9.9.9.11,36048,443,2020-03-31 19:56:16,33.406688,1875,56.126486,4963,148.563066,...,1.714596,0.000056,0.007488,0.009265,0.015238,0.000005,-2.392752,1.236673,0.808185,Malicious
197377,192.168.20.144,9.9.9.11,60162,443,2020-03-31 18:44:03,35.075868,3351,95.535768,5937,169.261670,...,1.624026,0.000406,0.020157,0.012165,0.000232,0.000007,1.775986,0.603158,1.656987,Malicious

In [8]:
db.to_csv('datase_db.csv')

In [9]:
db_b.shape

(19807, 35)

In [10]:
db_m.shape

(249836, 35)

In [11]:
db.shape

(269643, 35)

In [12]:
db['SourceIP'].value_counts()

192.168.20.144     63876
192.168.20.204     24239
1.1.1.1            17593
8.8.4.4            16027
192.168.20.205     14772
192.168.20.207     14601
192.168.20.206     14521
192.168.20.208     14461
192.168.20.209     14454
192.168.20.211     14209
192.168.20.210     14130
192.168.20.212     13488
192.168.20.111     10982
176.103.130.130     8705
9.9.9.11            5760
192.168.20.191      3402
192.168.20.113      2132
8.8.8.8             1338
192.168.20.112       890
9.9.9.9               48
176.103.130.131       15
Name: SourceIP, dtype: int64

In [13]:
freq=['192.168.20.144','192.168.20.204','1.1.1.1','8.8.4.4','192.168.20.205','192.168.20.207']

In [14]:
for i in range (0,len(db)):
    if(db['SourceIP'][i] not in freq):
        db['SourceIP'][i]='not_freq'
ip_dummies = pd.get_dummies(db['SourceIP'])
ip_dummies = ip_dummies.rename(columns = {"192.168.20.144":"ip_144","192.168.20.204":"ip_204","1.1.1.1":"ip_1","8.8.4.4":"ip_8", "192.168.20.205":"ip_205", "192.168.20.207":"ip_207"})

C:\Users\lmaha\AppData\Local\Temp\ipykernel_15652\2050499730.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['SourceIP'][i]='not_freq'

In [15]:
ip_dummies.head()

        ip_1  ip_144  ip_204  ip_205  ip_207  ip_8  not_freq
136084     0       0       0       0       0     0         1
68199      0       0       1       0       0     0         0
130363     0       1       0       0       0     0         0
162427     0       0       0       0       0     0         1
197377     0       1       0       0       0     0         0

In [16]:
db_create=ip_dummies

In [17]:
db['DestinationIP'].value_counts()

9.9.9.11           150932
8.8.4.4             26044
176.103.130.130     16290
1.1.1.1             13633
8.8.8.8             10177
192.168.20.144       9855
192.168.20.206       4536
192.168.20.205       4461
192.168.20.204       4457
192.168.20.207       4322
192.168.20.208       4011
192.168.20.211       3944
192.168.20.209       3942
192.168.20.210       3870
192.168.20.212       3687
9.9.9.9              2947
192.168.20.111       1353
192.168.20.113        459
192.168.20.112        457
176.103.130.131       134
192.168.20.191        132
Name: DestinationIP, dtype: int64

In [18]:
freq_dest=['9.9.9.11', '8.8.4.4']

In [19]:
freq_dest_2=['176.103.130.130', '1.1.1.1','8.8.8.8']

In [20]:
for i in range (0,len(db)):
    if(db['DestinationIP'][i]  in freq_dest_2):
        db['DestinationIP'][i] = 'dest_ip_130_1_8'
    elif(db['DestinationIP'][i] not in freq_dest):
        db['DestinationIP'][i] = 'not_dest_freq'

C:\Users\lmaha\AppData\Local\Temp\ipykernel_15652\2601982747.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['DestinationIP'][i] = 'not_dest_freq'
C:\Users\lmaha\AppData\Local\Temp\ipykernel_15652\2601982747.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['DestinationIP'][i] = 'dest_ip_130_1_8'

In [21]:
destination_dummy=pd.get_dummies(db['DestinationIP'])

In [22]:
destination_dummy = destination_dummy.rename(columns = {"9.9.9.11":"ip_11","8.8.4.4":"ip_4"})

In [23]:
db_create=pd.concat([db_create,destination_dummy], axis = 1)

In [24]:
db['SourcePort'].value_counts()

443      49486
58759       73
41618       60
44886       60
40378       53
         ...
62078        1
49667        1
65031        1
50945        1
51145        1
Name: SourcePort, Length: 15446, dtype: int64

In [25]:
for i in range (0,len(db)):
    if(db['SourcePort'][i] != 443):
        db['SourcePort'][i] = 'Wrong_port'
    else:
        db['SourcePort'][i] = 'port_is_443'

C:\Users\lmaha\AppData\Local\Temp\ipykernel_15652\2389956845.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['SourcePort'][i] = 'Wrong_port'

In [26]:
for i in range (0,len(db)):        
    if(db['DestinationPort'][i] != 443):
        db['DestinationPort'][i] = 'Wrong_port'
    else:
        db['DestinationPort'][i] = 'port_443'

C:\Users\lmaha\AppData\Local\Temp\ipykernel_15652\2614069197.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['DestinationPort'][i] = 'port_443'

In [27]:
source_port_dummy = pd.get_dummies(db['SourcePort'])

In [28]:
destination_port_dummy = pd.get_dummies(db['DestinationPort'])

In [29]:
destination_port_dummy = destination_port_dummy.rename(columns = {"port_443":"destination_port_443"})

In [30]:
db_create = pd.concat([db_create,source_port_dummy],axis=1)
db_create = pd.concat([db_create,destination_port_dummy],axis=1)

In [31]:
from sklearn.preprocessing import StandardScaler as sc

In [32]:
from sklearn.preprocessing import StandardScaler

In [33]:
sc=StandardScaler()

In [34]:
drn_db = db[["Duration"]]
drn_db = sc.fit_transform(drn_db)
drn_db = pd.DataFrame(drn_db)

In [35]:
drn_db = drn_db.rename(columns = {0:"Duration"})

In [36]:
db_create = pd.concat([db_create,drn_db],axis=1)

In [37]:
db['FlowBytesSent'].value_counts()

1807      44384
1875      15189
1806       7627
1085       7474
1739       7471
          ...
801724        1
46221         1
557424        1
133021        1
922068        1
Name: FlowBytesSent, Length: 72805, dtype: int64

In [38]:
fs = db[['FlowBytesSent']]

In [39]:
fs.mean()

FlowBytesSent    65757.889977
dtype: float64

In [40]:
fs.median()

FlowBytesSent    1807.0
dtype: float64

In [41]:
fs.mode()

   FlowBytesSent
0           1807

In [42]:
for i in range (0,len(db)):
    if(db['FlowBytesSent'][i] == 1807):
        db['FlowBytesSent'][i] = 'fs_1807'
    elif(db['FlowBytesSent'][i] >= 1810):
        db['FlowBytesSent'][i] = 'fsless'
    else:
        db['FlowBytesSent'][i] = 'fs_more'

C:\Users\lmaha\AppData\Local\Temp\ipykernel_15652\88205198.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['FlowBytesSent'][i] = 'fsless'

In [43]:
fs_dummy = pd.get_dummies(db['FlowBytesSent'])

In [44]:
destination_port_dummy.head()

        Wrong_port  destination_port_443
136084           0                     1
68199            0                     1
130363           0                     1
162427           0                     1
197377           0                     1

In [45]:
db_create = pd.concat([db_create,fs_dummy],axis=1)

In [46]:
fs_r = db[["FlowSentRate"]]

In [47]:
fs_r = sc.fit_transform(fs_r)

In [48]:
fs_r = pd.DataFrame(fs_r)

In [49]:
fs_r = fs_r.rename(columns = {0:"FlowSentRate"})

In [50]:
db_create = pd.concat([db_create,fs_r],axis=1)

In [51]:
db["FlowBytesReceived"][115] = 0

C:\Users\lmaha\AppData\Local\Temp\ipykernel_15652\1876215941.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db["FlowBytesReceived"][115] = 0

In [52]:
frec = db[['FlowBytesReceived']]

In [53]:
frec.mean()

FlowBytesReceived    67362.488946
dtype: float64

In [54]:
frec.median()

FlowBytesReceived    4896.0
dtype: float64

In [153]:
frec.mode()

   FlowBytesReceived
0               4896

In [55]:
for i in range (0,len(db)):
    if(isinstance(db['FlowBytesReceived'][i], str)):
        db['FlowBytesReceived'][i] = 0
        
    if(db['FlowBytesReceived'][i] == 98):
        db['FlowBytesReceived'][i] = 'fr_98'
    elif(db['FlowBytesReceived'][i] > 4900):
        db['FlowBytesReceived'][i] = 'fr_more'
    else:
        db['FlowBytesReceived'][i] = 'fr_less'

C:\Users\lmaha\AppData\Local\Temp\ipykernel_15652\2188002453.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['FlowBytesReceived'][i] = 'fr_more'

In [56]:
frec_dummies = pd.get_dummies(db['FlowBytesReceived'])

In [57]:
bd_create = pd.concat([db_create,frec_dummies],axis=1)

In [58]:
frc = db[["FlowReceivedRate"]]
frc = sc.fit_transform(frc)
frc = pd.DataFrame(frc)

In [59]:
frc = frc.rename(columns = {0:"FlowRecvRate"})

In [60]:
db_create = pd.concat([db_create,frc],axis=1)

In [61]:
plv = db[["PacketLengthVariance"]]
plv = sc.fit_transform(plv)
plv = pd.DataFrame(plv)

In [62]:
plv = plv.rename(columns = {0:"Pcket_lenVar"})

In [63]:
db_create = pd.concat([db_create,plv],axis=1)

In [64]:
plsd = db[["PacketLengthStandardDeviation"]]
plsd = sc.fit_transform(plsd)
plsd = pd.DataFrame(plsd)

In [65]:
plsd = plsd.rename(columns = {0:"Length_std"})

In [66]:
db_create = pd.concat([db_create,plsd],axis=1)

In [67]:
for i in range (0,len(db)):
    if(isinstance(db['PacketLengthMean'][i], str)):
        df['PacketLengthMean'][i] = 0

In [68]:
plm = db[['PacketLengthMean']]
plm = sc.fit_transform(plm)
plm = pd.DataFrame(plm)

In [69]:
plm = plm.rename(columns = {0:"Length_mean"})

In [70]:
db_create = pd.concat([db_create,plm],axis=1)

In [71]:
db_temp_half = db_create

In [72]:
for i in range (0,len(db)):
    if(isinstance(db['PacketLengthMedian'][i], str)):
        db['PacketLengthMedian'][i] = 0

In [73]:
pl_med = db[['PacketLengthMedian']]

In [74]:
pl_med = sc.fit_transform(pl_med)
pl_med = pd.DataFrame(pl_med)

In [75]:
pl_med = pl_med.rename(columns = {0:"L_median"})

In [76]:
db_create = pd.concat([db_create,pl_med],axis=1)

In [77]:
for i in range (0,len(db)):
    if(isinstance(db['PacketLengthMode'][i], str)):
        db['PacketLengthMode'][i] = 0

In [78]:
pl_mode = db[['PacketLengthMode']]
pl_mode = sc.fit_transform(pl_mode)
pl_mode = pd.DataFrame(pl_mode)

In [79]:
pl_mode = pl_mode.rename(columns = {0:"L_mode"})

In [80]:
db_create = pd.concat([db_create,pl_mode],axis=1)

In [81]:
for i in range (0,len(db)):
    if(isinstance(db['PacketLengthSkewFromMedian'][i], str)):
        db['PacketLengthSkewFromMedian'][i] = 0

In [82]:
s_med = db[['PacketLengthSkewFromMedian']]
s_med = sc.fit_transform(s_med)
s_med = pd.DataFrame(s_med)

In [83]:
s_med = s_med.rename(columns = {0:"s_median"})

In [84]:
db_create = pd.concat([db_create,s_med],axis=1)

In [85]:
for i in range (0,len(db)):
    if(isinstance(db['PacketLengthSkewFromMode'][i], str)):
        db['PacketLengthSkewFromMode'][i] = 0

In [86]:
s_mode = db[['PacketLengthSkewFromMode']]
s_mode = sc.fit_transform(s_mode)
s_mode = pd.DataFrame(s_mode)

In [87]:
s_mode = s_mode.rename(columns = {0:"s_mode"})

In [88]:
db_create = pd.concat([db_create,s_mode],axis=1)

In [89]:
for i in range (0,len(db)):
    if(isinstance(db['PacketLengthCoefficientofVariation'][i], str)):
        db['PacketLengthCoefficientofVariation'][i] = 0

In [90]:
plcv = db[['PacketLengthCoefficientofVariation']]
plcv = sc.fit_transform(plcv)
plcv = pd.DataFrame(plcv)

In [91]:
plcv = plcv.rename(columns = {0:"PLCV"})

In [92]:
db_create = pd.concat([db_create,plcv],axis=1)

In [93]:
for i in range (0,len(db)):
    if(isinstance(db['PacketTimeVariance'][i], str)):
        db['PacketTimeVariance'][i] = 0

In [94]:
ptv = db[['PacketTimeVariance']]
ptv = sc.fit_transform(ptv)
ptv = pd.DataFrame(ptv)

In [95]:
ptv = ptv.rename(columns = {0:"PTV"})

In [96]:
db_create = pd.concat([db_create,ptv],axis=1)

In [97]:
for i in range (0,len(db)):
    if(isinstance(db['PacketTimeStandardDeviation'][i], str)):
        db['PacketTimeStandardDeviatione'][i] = 0

In [98]:
pt_std = db[['PacketTimeStandardDeviation']]
pt_std = sc.fit_transform(pt_std)
pt_std = pd.DataFrame(pt_std)

In [99]:
pt_std = pt_std.rename(columns = {0:"PT_std"})
db_create = pd.concat([db_create,pt_std],axis=1)

In [100]:
for i in range (0,len(db)):
    if(isinstance(db['PacketTimeMean'][i], str)):
        db['PacketTimeMean'][i] = 0
        
pt_mean = db[['PacketTimeMean']]
pt_mean = sc.fit_transform(pt_mean)
pt_mean = pd.DataFrame(pt_mean)

In [101]:
pt_mean = pt_mean.rename(columns = {0:"PT_mean"})
db_create = pd.concat([db_create,pt_mean],axis=1)

In [102]:
for i in range (0,len(db)):
    if(isinstance(db['PacketTimeMedian'][i], str)):
        db['PacketTimeMedian'][i] = 0
        
pt_med = db[['PacketTimeMedian']]
pt_med = sc.fit_transform(pt_med)
pt_med = pd.DataFrame(pt_med)

In [103]:
pt_med = pt_med.rename(columns = {0:"PT_median"})
db_create = pd.concat([db_create,pt_med],axis=1)

In [104]:
for i in range (0,len(db)):
    if(isinstance(db['PacketTimeMode'][i], str)):
        db['PacketTimeMode'][i] = 0
        
packt_time_mode = db[['PacketTimeMode']]
packt_time_mode = sc.fit_transform(packt_time_mode)
packt_time_mode = pd.DataFrame(packt_time_mode)

In [105]:
packt_time_mode = packt_time_mode.rename(columns = {0:"Packt_Time_mode"})
db_create = pd.concat([db_create,packt_time_mode],axis=1)

In [106]:
for i in range (0,len(db)):
    if(isinstance(db['PacketTimeSkewFromMedian'][i], str)):
        db['PacketTimeSkewFromMedian'][i] = 0
        
s_med_time = db[['PacketTimeSkewFromMedian']]
s_med_time = sc.fit_transform(s_med_time)
s_med_time = pd.DataFrame(s_med_time)

In [107]:
s_med_time = s_med_time.rename(columns = {0:"s_med_time"})
dfb_create = pd.concat([db_create,s_med_time],axis=1)

In [108]:
for i in range (0,len(db)):
    if(isinstance(db['PacketTimeSkewFromMode'][i], str)):
        db['PacketTimeSkewFromMode'][i] = 0
        
s_mode_time = db[['PacketTimeSkewFromMode']]
s_mode_time = sc.fit_transform(s_mode_time)
s_mode_time = pd.DataFrame(s_mode_time)

In [109]:
s_mode_time = s_mode_time.rename(columns = {0:"s_mode_time"})

In [110]:
db_create = pd.concat([db_create,s_mode_time],axis=1)

In [111]:
for i in range (0,len(db)):
    if(isinstance(db['PacketTimeCoefficientofVariation'][i], str)):
        db['PacketTimeCoefficientofVariation'][i] = 0
        
pkt_cov_time = db[['PacketTimeCoefficientofVariation']]
pkt_cov_time = sc.fit_transform(pkt_cov_time)
pkt_cov_time = pd.DataFrame(pkt_cov_time)

In [112]:
pjt_cov_time = pkt_cov_time.rename(columns = {0:"pkt_cov_time"})
db_create = pd.concat([db_create,pkt_cov_time],axis=1)

In [113]:
for i in range (0,len(db)):
    if(isinstance(db['ResponseTimeTimeVariance'][i], str)):
        db['ResponseTimeTimeVariance'][i] = 0
        
r_time_var = db[['ResponseTimeTimeVariance']]
r_time_var = sc.fit_transform(r_time_var)
r_time_var = pd.DataFrame(r_time_var)

In [114]:
r_time_var = r_time_var.rename(columns = {0:"r_time_var"})
db_create = pd.concat([db_create,r_time_var],axis=1)

In [115]:
for i in range (0,len(db)):
    if(isinstance(db['ResponseTimeTimeStandardDeviation'][i], str)):
        db['ResponseTimeTimeStandardDeviation'][i] = 0
        
r_time_std = db[['ResponseTimeTimeStandardDeviation']]
r_time_std = sc.fit_transform(r_time_std)
r_time_std = pd.DataFrame(r_time_std)

In [116]:
r_time_std = r_time_std.rename(columns = {0:"r_time_std"})

In [117]:
db_create = pd.concat([db_create,r_time_std],axis=1)

In [118]:
for i in range (0,len(db)):
    if(isinstance(db['ResponseTimeTimeMean'][i], str)):
        db['ResponseTimeTimeMean'][i] = 0

In [119]:
r_time_mean = db[['ResponseTimeTimeMean']]
r_time_mean = sc.fit_transform(r_time_mean)
r_time_mean = pd.DataFrame(r_time_mean)

In [120]:
r_time_mean = r_time_mean.rename(columns = {0:"r_time_mean"})

In [121]:
db_create = pd.concat([db_create,r_time_mean],axis=1)

In [122]:
for i in range (0,len(db)):
    if(isinstance(db['ResponseTimeTimeMedian'][i], str)):
        db['ResponseTimeTimeMedian'][i] = 0
        
r_time_med = db[['ResponseTimeTimeMedian']]
r_time_med = sc.fit_transform(r_time_med)
r_time_med = pd.DataFrame(r_time_med)

C:\Users\lmaha\AppData\Local\Temp\ipykernel_15652\3128067722.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['ResponseTimeTimeMedian'][i] = 0

In [123]:
r_time_med = r_time_med.rename(columns = {0:"r_time_med"})
db_create = pd.concat([db_create,r_time_med],axis=1)

In [124]:
for i in range (0,len(db)):
    if(isinstance(db['ResponseTimeTimeMode'][i], str)):
        db['ResponseTimeTimeMode'][i] = 0
        
r_time_mode = db[['ResponseTimeTimeMode']]
r_time_mode = sc.fit_transform(r_time_mode)
r_time_mode = pd.DataFrame(r_time_mode)

In [125]:
r_time_mode = r_time_mode.rename(columns = {0:"r_time_mode"})
db_create = pd.concat([db_create,r_time_mode],axis=1)

In [126]:
for i in range (0,len(db)):
    if(isinstance(db['ResponseTimeTimeSkewFromMedian'][i], str)):
        db['ResponseTimeTimeSkewFromMedian'][i] = 0
        
r_s_med_time = db[['ResponseTimeTimeSkewFromMedian']]
r_s_med_time = sc.fit_transform(r_s_med_time)
r_s_med_time = pd.DataFrame(r_s_med_time)

C:\Users\lmaha\AppData\Local\Temp\ipykernel_15652\2213183745.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['ResponseTimeTimeSkewFromMedian'][i] = 0

In [127]:
r_s_med_time = r_s_med_time.rename(columns = {0:"r_s_med_time"})
db_create = pd.concat([db_create,r_s_med_time],axis=1)

In [128]:
for i in range (0,len(db)):
    if(isinstance(db['ResponseTimeTimeSkewFromMode'][i], str)):
        db['ResponseTimeTimeSkewFromMode'][i] = 0

In [129]:
r_s_mode_time = db[['ResponseTimeTimeSkewFromMode']]
r_s_mode_time = sc.fit_transform(r_s_mode_time)
r_s_mode_time = pd.DataFrame(r_s_mode_time)

In [130]:
r_s_mode_time = r_s_mode_time.rename(columns = {0:"r_s_mode_time"})
db_create = pd.concat([db_create,r_s_mode_time],axis=1)

In [131]:
for i in range (0,len(db)):
    if(isinstance(db['ResponseTimeTimeCoefficientofVariation'][i], str)):
        db['ResponseTimeTimeCoefficientofVariation'][i] = 0

In [132]:
r_c_time = db[['ResponseTimeTimeCoefficientofVariation']]
r_c_time = sc.fit_transform(r_c_time)
r_c_time = pd.DataFrame(r_c_time)

In [133]:
r_c_time = r_c_time.rename(columns = {0:"r_c_time"})
db_create = pd.concat([db_create,r_c_time],axis=1)

In [134]:
labels = pd.get_dummies(db['Label'])

In [135]:
db_create = pd.concat([db_create,labels],axis=1)

In [136]:
db.dtypes['FlowReceivedRate']

dtype('float64')

In [137]:
db_create.to_csv(r'E:\VIT\F2-ISM\REVIEW 2\REVIEW 2\final_data_input_FINAL_Final.csv')

In [138]:
db_create.head()

,ip_1,ip_144,ip_204,ip_205,ip_207,ip_8,not_freq,ip_4,ip_11,dest_ip_130_1_8,...,r_time_var,r_time_std,r_time_mean,r_time_med,r_time_mode,r_s_med_time,r_s_mode_time,r_c_time,Benign,Malicious
136084,0,0,0,0,0,0,1,0,0,1,...,-0.178917,-0.237048,-0.239838,-0.226448,-0.159619,1.363765,-0.036417,0.026988,0,1
68199,0,0,1,0,0,0,0,0,1,0,...,-0.178941,-0.244508,-0.239601,-0.221614,-0.159611,-0.542685,0.643204,-0.361626,0,1
130363,0,1,0,0,0,0,0,0,1,0,...,-0.178933,-0.241448,-0.239463,-0.222830,-0.159270,0.363285,0.214765,-0.229638,0,1
162427,0,0,0,0,0,0,1,0,1,0,...,-0.178940,-0.244177,-0.239452,-0.221581,-0.159618,-0.434353,0.618959,-0.355394,0,1
197377,0,1,0,0,0,0,0,0,1,0,...,-0.178940,-0.244234,-0.240188,-0.221618,-0.159629,-0.859967,0.445261,-0.304487,0,1

In [139]:
db_create.drop('Malicious' , axis=1)

,ip_1,ip_144,ip_204,ip_205,ip_207,ip_8,not_freq,ip_4,ip_11,dest_ip_130_1_8,...,0,r_time_var,r_time_std,r_time_mean,r_time_med,r_time_mode,r_s_med_time,r_s_mode_time,r_c_time,Benign
136084,0,0,0,0,0,0,1,0,0,1,...,-0.926752,-0.178917,-0.237048,-0.239838,-0.226448,-0.159619,1.363765,-0.036417,0.026988,0
68199,0,0,1,0,0,0,0,0,1,0,...,0.881231,-0.178941,-0.244508,-0.239601,-0.221614,-0.159611,-0.542685,0.643204,-0.361626,0
130363,0,1,0,0,0,0,0,0,1,0,...,-0.871406,-0.178933,-0.241448,-0.239463,-0.222830,-0.159270,0.363285,0.214765,-0.229638,0
162427,0,0,0,0,0,0,1,0,1,0,...,0.882289,-0.178940,-0.244177,-0.239452,-0.221581,-0.159618,-0.434353,0.618959,-0.355394,0
197377,0,1,0,0,0,0,0,0,1,0,...,0.898461,-0.178940,-0.244234,-0.240188,-0.221618,-0.159629,-0.859967,0.445261,-0.304487,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177444,0,1,0,0,0,0,0,0,1,0,...,-1.022086,5.356623,5.478379,3.598343,4.540283,-0.159634,-0.808145,0.510802,-0.325096,0
74758,0,0,0,0,0,1,0,0,0,0,...,0.437349,-0.178941,-0.244718,-0.240397,-0.222224,-0.159625,-0.634521,0.470405,-0.313237,0
67960,0,0,0,1,0,0,0,0,1,0,...,-0.370380,-0.156436,0.115073,-0.155854,-0.221412,-0.159625,1.052107,-0.143501,0.221870,0
84250,0,1,0,0,0,0,0,0,1,0,...,1.146730,-0.053332,0.612724,-0.113581,-0.221596,-0.159624,0.759412,-0.280718,0.731200,0
44909,1,0,0,0,0,0,0,0,0,0,...,0.955149,-0.178939,-0.243591,-0.239964,-0.221632,-0.159619,-0.623263,0.401980,-0.289705,0

In [140]:
db_create['Benign'] = db_create['Benign'].replace(['1'],'Benign')
db_create['Benign'] = db_create['Benign'].replace (['0'],'Malicious')

In [141]:
db_create.head()

,ip_1,ip_144,ip_204,ip_205,ip_207,ip_8,not_freq,ip_4,ip_11,dest_ip_130_1_8,...,r_time_var,r_time_std,r_time_mean,r_time_med,r_time_mode,r_s_med_time,r_s_mode_time,r_c_time,Benign,Malicious
136084,0,0,0,0,0,0,1,0,0,1,...,-0.178917,-0.237048,-0.239838,-0.226448,-0.159619,1.363765,-0.036417,0.026988,0,1
68199,0,0,1,0,0,0,0,0,1,0,...,-0.178941,-0.244508,-0.239601,-0.221614,-0.159611,-0.542685,0.643204,-0.361626,0,1
130363,0,1,0,0,0,0,0,0,1,0,...,-0.178933,-0.241448,-0.239463,-0.222830,-0.159270,0.363285,0.214765,-0.229638,0,1
162427,0,0,0,0,0,0,1,0,1,0,...,-0.178940,-0.244177,-0.239452,-0.221581,-0.159618,-0.434353,0.618959,-0.355394,0,1
197377,0,1,0,0,0,0,0,0,1,0,...,-0.178940,-0.244234,-0.240188,-0.221618,-0.159629,-0.859967,0.445261,-0.304487,0,1

In [142]:
db_create.head()

,ip_1,ip_144,ip_204,ip_205,ip_207,ip_8,not_freq,ip_4,ip_11,dest_ip_130_1_8,...,r_time_var,r_time_std,r_time_mean,r_time_med,r_time_mode,r_s_med_time,r_s_mode_time,r_c_time,Benign,Malicious
136084,0,0,0,0,0,0,1,0,0,1,...,-0.178917,-0.237048,-0.239838,-0.226448,-0.159619,1.363765,-0.036417,0.026988,0,1
68199,0,0,1,0,0,0,0,0,1,0,...,-0.178941,-0.244508,-0.239601,-0.221614,-0.159611,-0.542685,0.643204,-0.361626,0,1
130363,0,1,0,0,0,0,0,0,1,0,...,-0.178933,-0.241448,-0.239463,-0.222830,-0.159270,0.363285,0.214765,-0.229638,0,1
162427,0,0,0,0,0,0,1,0,1,0,...,-0.178940,-0.244177,-0.239452,-0.221581,-0.159618,-0.434353,0.618959,-0.355394,0,1
197377,0,1,0,0,0,0,0,0,1,0,...,-0.178940,-0.244234,-0.240188,-0.221618,-0.159629,-0.859967,0.445261,-0.304487,0,1

In [143]:
db_create.drop('Malicious' , inplace=True , axis=1)

In [144]:
db_create.head()

,ip_1,ip_144,ip_204,ip_205,ip_207,ip_8,not_freq,ip_4,ip_11,dest_ip_130_1_8,...,0,r_time_var,r_time_std,r_time_mean,r_time_med,r_time_mode,r_s_med_time,r_s_mode_time,r_c_time,Benign
136084,0,0,0,0,0,0,1,0,0,1,...,-0.926752,-0.178917,-0.237048,-0.239838,-0.226448,-0.159619,1.363765,-0.036417,0.026988,0
68199,0,0,1,0,0,0,0,0,1,0,...,0.881231,-0.178941,-0.244508,-0.239601,-0.221614,-0.159611,-0.542685,0.643204,-0.361626,0
130363,0,1,0,0,0,0,0,0,1,0,...,-0.871406,-0.178933,-0.241448,-0.239463,-0.222830,-0.159270,0.363285,0.214765,-0.229638,0
162427,0,0,0,0,0,0,1,0,1,0,...,0.882289,-0.178940,-0.244177,-0.239452,-0.221581,-0.159618,-0.434353,0.618959,-0.355394,0
197377,0,1,0,0,0,0,0,0,1,0,...,0.898461,-0.178940,-0.244234,-0.240188,-0.221618,-0.159629,-0.859967,0.445261,-0.304487,0

In [145]:
db_create.to_csv(r'E:\VIT\F2-ISM\REVIEW 2\REVIEW 2\final_data_input_FINAL_Semifinal.csv')